body {
	font-family: "Arial";
	font-size: 1.2em;
	margin: 0 auto;
	text-align: center;
}

header {
	background-color: #287233;
	color: orange;
	font-weight: bold;
	text-align: center;
	padding: 2em;
}

header span {
	color: orange;
	font-weight: normal;
	font-size: .5em;
}

h2 {
	color: orange;
}

.container {
	width: 70%;
	margin: 0 auto;
	margin: 2em;
	text-align: left;
}

.container p {
	font-family: "Arial";
}