body {
	font-family: "Arial";
	font-size: 1.2em;
	margin: 0 auto;
	text-align: center;
}

header {
	background-color: lightgray;
	color: black;
	text-align: center;
	padding: 2em;
}

h2 {
	color: orange;
}

.container {
	width: 70%;
	margin: 0 auto;
	margin: 2em;
	text-align: left;
}